---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include datapage_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <!-- <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
             <!-- Jon additions begin -->
            {% if page.sub_title %}
                <h4>{{ page.sub_title | markdownify | strip_html }}</h4>
            {% endif %}
            <p>written {{ page.date | date: "%b %-d, %Y" }}{% if page.last_modified_at %} (last updated {{ page.last_modified_at | date: "%b %-d, %Y" }}){% endif %}{% if page.author %} • by <a href="https://wildcounts.org/count/who/">{{ page.author }}</a>{% endif %}{% if page.meta %} • Category: {{ page.meta }}{% endif %}</p>
             <!-- Jon additions end -->
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
<!--                 <br />
                <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a> -->
              </p>
            </div>
            <hr>
            {% include section_nav_datapage.html %}
        </div>

    </div>
</div>
